// custom variable
$primary:       #b38825;
$light:         #fbf5e5;

// import the functions and variables
/* @import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);

$theme-colors: map-merg($custom-theme-colors, $theme-colors); */

// Import bootstrap sass from node modules folder
@import '../node_modules/bootstrap/scss/bootstrap.scss';
